@use "global" as *;

.top__information {
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq("md") {
    padding-top: rem(111);
    padding-bottom: rem(76);
    padding-right: rem(5);
  }
}