@use "global" as *;

.about {
  position: relative;
}

.about__illustration::after {
  @include mq("md") {
    content: "";
    width: rem(191);
    height: rem(181);
    background-image: url(/assets/images/common/coral.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: calc(50% - min(48vw , rem(637)));
    bottom: rem(-90);
  }
}

.about__header {
  text-align: center;
}

.about__img {
  margin-top: rem(27);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.about__img1 {
  width: 37.101%;
}

.about__img2 {
  width: 81.449%;
  margin-left: auto;
  margin-top: -49%;
  position: relative;
  z-index: -1;
}

.about__content {
  margin-top: rem(42);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq("md") {
    margin-top: rem(38);
    flex-direction: inherit;
    gap: rem(45);
    position: absolute;
    top: 35%;
    left: 26%;
  }
}

.about__title {
  color: $green-accent;
  font-family: $font-family-en;
  font-weight: 400;
  font-size: rem(40);
  line-height: 1;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25;
    max-width: rem(400);
    width: 100%;
    color: $white;
    white-space: nowrap;
  }
}

.about__body {
  @include mq("md") {
    max-width: rem(400);
    width: 100%;
  }
}

.about__text {
  @include mq("md") {
    color: $white;
  }
}

.about__link {
  text-align: center;
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(40);
  }
}