@use "global" as *;

.about-illustration {
  position: relative;
}

.about-illustration::after {
  @include mq("md") {
    content: "";
    width: rem(191);
    height: rem(181);
    background-image: url(../images/common/coral.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: calc(50% - min(48vw , rem(637)));
    bottom: rem(-90);
  }
}
