@use "global" as *;

.archive {

}

.archive__year {
  font-size: rem(24);
  color: $green-accent;
  padding-left: rem(32);
  position: relative;
}

.archive__year::before {
  content: "";
  width: rem(24);
  height: rem(24);
  background-image: url(/assets/images/common/archive-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.archive__year.is-open::before {
  content: "";
  width: rem(24);
  height: rem(24);
  background-image: url(/assets/images/common/archive-open.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 56%;
  transform: translateY(-50%);
}

.archive__year:hover {
  cursor: pointer;
}

.archive__months {
  // margin-top: rem(5);
}

.archive__month {
  font-size: rem(24);
  color: $green-accent;
  margin-left: rem(26);
  padding-left: rem(32);
  position: relative;
}

.archive__month::before {
  content: "";
  width: rem(24);
  height: rem(24);
  background-image: url(/assets/images/common/archive-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}