@use "global" as *;

.article__cards {
  margin-top: rem(30);
}

.article__review {
  margin-top: rem(30);
}

.article__campaign-cards {
  margin-top: rem(25);
}

.article__archive {
  margin-top: rem(32);
  display: grid;
  gap: rem(5);
}

.article__review-link {
  text-align: center;
  margin-top: rem(44);
}

.article__campaign-link {
  text-align: center;
  margin-top: rem(33);
}