@use "global" as *;

.aside-campaign-cards {
  display: grid;
  gap: rem(40);
}

.aside-campaign-cards__item {
  @include mq("md") {
    max-width: rem(294);
    width: 100%;
  }
}

.aside-campaign-cards__item + .aside-campaign-cards__item {
  margin-top: rem(40);
}