@use "global" as *;

.blog {
  position: relative;
  overflow: hidden;
}

.blog::after {
  @include mq("md") {
    content: "";
    width: 100vw;
    height: rem(500);
    background-image: url(/assets/images/common/blog-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
  @include mq("md") {
    max-width: rem(1290);
    width: 100%;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    // padding-left: rem(25);
    // padding-right: rem(25);
  }
}

.blog__header {
  text-align: center;
  position: relative;
  z-index: 1;
  @include mq("md") {
    color: $white;
  }
}

.blog__header .section-header__en span {
  @include mq("md") {
    color: #DDF0F1;
  }
}

.blog__header .section-header__ja {
  @include mq("md") {
    color: $white;
  }
}

.blog__illustration {
  width: rem(437);
  position: relative;
  z-index: 10;
  margin-top: rem(-142);
}

.blog__cards {
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: rem(40);
  @include mq("md") {
    max-width: rem(1080);
    flex-direction: inherit;
    margin-top: rem(22);
    position: relative;
    z-index: 1;
  }
}

.blog__link {
  margin-top: rem(38);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
