@use "global" as *;

.blog-cards {
  max-width: rem(600);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: rem(40);
  @include mq("md") {
    max-width: inherit;
    grid-template-columns: repeat(3 , 1fr);
    position: relative;
    z-index: 1;
  }
}