@use "global" as *;

.blog-illustration {
  position: relative;
}

.blog-illustration::before {
  @include mq("md") {
    content: "";
    width: rem(437);
    height: rem(201);
    background-image: url(/assets/images/common/blog-fish.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48vw , rem(620)));
    z-index: 1;
  }
}
