@use "global" as *;

.campaign {
  position: relative;
}

.campaign__header {
  text-align: center;
}

.campaign__contents {
  margin-top: rem(24);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: rem(35);
  }
}

.campaign-slide {
  height: auto;
}

.campaign__swiper-button-prev,
.campaign__swiper-button-next {
  position: absolute;
  width: rem(80);
  height: rem(80);
  border-radius: 50%;
  border: rem(1) solid $green-accent;
  top: rem(20);
}

.campaign__swiper-button-prev {
  left: calc(50% +  min(300px , 25.777%));

}

.campaign__swiper-button-next {
  left: calc(50% + min(460px , 40.59%));

}

.swiper-button-prev,
.swiper-button-next {
  @include mq("md") {
    // position: absolute;
    // width: rem(80);
    // height: rem(80);
    // border-radius: 50%;
    // border: rem(1) solid $green-accent;
    // // top: -17%;
    // top: 0;
  }
}

.swiper-button-prev {
  @include mq("md") {
    // left: 67%;
    // left: calc(50% + rem(300));
  }
}

.swiper-button-next {
  @include mq("md") {
    // left: calc(50% + rem(460));
    // right: 14%;
  }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  // opacity: .7;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    width: 42px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  transform: translate(-50% , -50%);
}

.swiper-button-prev::after {
  @include mq("md") {
    background-image: url(/assets/images/common/prev.png);
  }
}

.swiper-button-next::after {
  @include mq("md") {
    background-image: url(/assets/images/common/next.png);
  }
}

.campaign__link {
  text-align: center;
  margin-top: rem(28);
  margin-left: rem(5);
  @include mq("md") {
    margin-top: rem(66);
    margin-left: rem(5);
  }
}



.swiper-slide {
  // height: auto;
}


