@use "global" as *;

.contact {
  position: relative;
  overflow: hidden;
}

.contact::after {
  content: "";
  width: rem(109);
  height: rem(50);
  background-image: url(/assets/images/common/fish-img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: calc(50% + rem(63));
  top: rem(54);
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    left: calc(50% + rem(369));
    top: rem(100);
  }
}

.contact__inner.inner {
  padding-left: rem(40);
  padding-right: rem(40);
  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.contact__body {
  @include mq("md") {
    background: #FFF;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(163);
    padding: rem(80) rem(50);
  }
}

.contact__info {
  @include mq("md") {
    max-width: rem(440);
    width: 100%;
    position: relative;
  }
}

.contact__info::after {
  content: "";
  width: rem(2);
  height: rem(257);
  background-color: $green-accent;
  position: absolute;
  top: 0;
  right: rem(-81);
}

.contact__logo {
  width: rem(174);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    width: rem(200);
  }
}

.contact__info-body {
  border-top: 1px solid $green-accent;
  margin-top: rem(6);
  text-align: center;
  @include mq("md") {
    display: flex;
    gap: rem(21);
    margin-top: rem(8);
  }
}

.contact__list {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(24);
    text-align: left;
  }
}

.contact__list li {
  line-height: rem(24);
}

.contact__list li:not(:first-child) {
  margin-top: rem(4);
}

.contact__map {
  margin-top: rem(16);
  position: relative;
  @include mq("md") {
    max-width: rem(273);
    width: 100%;
    margin-top: rem(24);
  }
}

.contact__map::before {
  content: "";
  display: block;
  padding-top: 54.237%;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.contact__form {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.contact__header {
  text-align: center;
}

.contact__header .section-header__en {
  font-size: rem(80);
}

.contact__header .section-header__ja {
  margin-top: rem(8);
}

.contact__form-link {
  text-align: center;
}

.contact__form-link a {
  display: block;
  padding-top: rem(8);
  padding-bottom: rem(8);
  color: $green-accent;
  font-size: rem(14);
  line-height: rem(18);
}

.contact__form-link a:hover {
  opacity: .7;
}

.contact__link {
  text-align: center;
  margin-top: rem(38);
}