@use "global" as *;

.form-button {
  background-color: red;
  background-color: $green-accent;
  padding: rem(16) rem(56);
  font-size: rem(14);
  line-height: 1.57143 !important;
  position: relative;
}

.form-button span {
  padding-right: rem(56);
}

.form-button::before {
  content: "";
  width: rem(40);
  height: rem(6);
  background-image: url(../images/common/send-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 56px;
}

.form-button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $white;
  border: 1px solid $green-accent;
  position: absolute;
  right: rem(-4);
  bottom: rem(-5);
  z-index: -1;
}