@use "global" as *;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: rem(80);
  background: rgba(13, 41, 54, 0.68);
  transition: all .7s;
  @include mq("md") {
    height: rem(90);
  }
}

.header.is-active {
  background-color: $green-accent;
}

.header__inner {
  height: inherit;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.header__content {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: rem(102);
  z-index: 11;
  transition: all .8s;
  @include mq("md") {
    width: rem(133);
  }
}

.header__sp-nav {
  visibility: hidden;
  opacity: 0;
  background-color: $green-accent;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: rem(24);
  transition: all .7s;
  margin-top: rem(80);
  overflow-y: auto;
  padding-bottom: rem(100);
}

.header__sp-nav.is-open {
  visibility: visible;
  opacity: 1;
  @include mq("md") {
    opacity: 0;
  }
}

.header__pc-nav {
  display: none;
  @include mq("md") {
    display: block;
  }

}