@use "global" as *;

.header-drawer {
  width: rem(34);
  height: rem(26);
  z-index: 11;
  @include mq("md") {
    display: none;
  }
}

.header__hamburger {
  width: inherit;
  height: inherit;
  position: relative;

}

.header__hamburger span {
  width: rem(34);
  height: rem(2);
  background-color: $white;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border-radius: rem(20);
  transition: all .5s;
}

.header__hamburger span:nth-child(1) {
  top: 0;
}

.header__hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__hamburger span:nth-child(3) {
  bottom: 0;
}

.header__hamburger.is-open span:nth-child(1) {
  transform: translateY(12px) rotate(36deg);
}

.header__hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-child(3) {
  transform: translateY(-12px) rotate(-36deg);

}

.nav-items > .nav-item:nth-child(1) {
  margin-top: 0;
}