@use "global" as *;

.header-hamburger {
  width: rem(34);
  height: rem(26);
  position: relative;
  @include mq("md") {
    display: none;
  }
}

.header-hamburger span {
  width: rem(34);
  height: rem(2);
  background-color: $white;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border-radius: rem(20);
  transition: all .3s;
}

.header-hamburger span:nth-child(1) {
  top: 0;
}

.header-hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header-hamburger span:nth-child(3) {
  bottom: 0;
}

.header-hamburger.is-open span:nth-child(1) {
  transform: translateY(12px) rotate(36deg);
}

.header-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.header-hamburger.is-open span:nth-child(3) {
  transform: translateY(-12px) rotate(-36deg);
}
