@use "global" as *;

.information-tab {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: rem(20);
  @include mq("md") {
    gap: rem(90);
  }
}

.information-tab__list a {
  background-color: #DDF0F1;
  display: block;
  padding: rem(10) rem(16);
  font-size: rem(14);
  color: $green-accent;
  white-space: nowrap;
}
