@use "global" as *;

.nav__list {
  padding-left: 22px;
}

.nav__list a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: rem(18);
  transition: all .8s;
}

.nav__list a:hover {
  opacity: .7;
}

.nav__icon {
  position: relative;
  font-weight: 700;
}

.nav__icon::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(/assets/images/common/hitode.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  top: rem(11);
  left: 0;
}

.nav__list_margin-top {
  margin-top: rem(16);
}

.nav__list_font-weight {
  font-weight: 700;
}

