@use "global" as *;

.nav {
  color: $white;
  display: flex;
  gap: rem(16);
  justify-content: center;
}

.nav__items {
  @include mq("md") {
    display: flex;
    gap: rem(120);
    margin-top: rem(-3);
    max-width: 100%;
  }
}
