@use "global" as *;

.price-illustration {
  position: relative;
}

.price-illustration::after {
  @include mq("md") {
    content: "";
    width: rem(437);
    height: rem(201);
    background-image: url(/assets/images/common/fish-img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: rem(60);
    left: calc(50% - min(48vw , rem(620)));
  }
}