@use "global" as *;

.section-header {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  @include mq("md") {
    gap: rem(8);
  }
}

.section-header__en {
  font-family: $font-family-en;
  font-weight: $normal;
  font-size: rem(32);
  line-height: rem(40);
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-header__en span {
  color: $green-accent;
}

.section-header__ja {
  color: $green-accent;
  font-size: rem(12);
  line-height: rem(18);
}


