@use "global" as *;

.sub-blog__contents {
  display: flex;
  flex-direction: column;
  gap: rem(88);
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    flex-direction: inherit;
    max-width: inherit;
    gap: rem(80);
  }
}

.sub-blog__contents--gap {
  @include mq("md") {
    gap: rem(86);
  }
}

.sub-blog__detail {
  @include mq("md") {
    width: 64.814%;
  }
}

.sub-blog__content {
  @include mq("md") {
    width: 65.37%;
  }
}

.sub-blog__aside {
  margin-left: rem(25);
  margin-right: rem(25);
  @include mq("md") {
    width: 27.2222%;
    margin-top: rem(8);
    margin-left: 0;
    margin-right: 0;
  }
}

.sub-blog__pagination {
  margin-top: rem(80);
}

// .sub-blog__content-inner {
//   margin-left: rem(25);
//   margin-right: rem(25);
//   @include mq("md") {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }