@use "global" as *;

.sub-gallery__header {
  text-align: center;
}

.sub-gallery__imgs {
  margin-top: rem(40);
  display: grid;
  gap: rem(8);
  @include mq("md") {
    margin-top: rem(80);
    max-width: rem(1080);
    width: 100%;
    grid-template-columns: 492px 1fr;
    // grid-template-columns: repeat(2,1fr);
    // grid-template-rows: repeat(4,1fr);
    // grid-template-areas:
    // "areaA areaB"
    // "areaA areaC"
    // "areaD areaE"
    // "areaF areaE"
    // ;
  }
}

.sub-gallery__imgs + .sub-gallery__imgs {
  margin-top: rem(8);
}

.sub-gallery__img:nth-child(1) {
  @include mq("md") {
    // max-width: rem(492);
    // grid-area: areaA;
  }
}

.sub-gallery__img:nth-child(2) {
  @include mq("md") {
    // max-width: rem(580);
    // grid-column: 2;
    // grid-area: areaB;
  }
}
.sub-gallery__img:nth-child(3) {
  @include mq("md") {
    // grid-column: 2;
    // grid-row: 2;
    // grid-area: areaC;
  }
}

.sub-gallery__img:nth-child(4) {
  @include mq("md") {
    // grid-area: areaD;
  }
}

.sub-gallery__img:nth-child(5) {
  @include mq("md") {
    // grid-area: areaF;
  }

}

.sub-gallery__img:nth-child(6) {
  @include mq("md") {
    // max-width: rem(492);
    // grid-area: areaE;
  }
}