@use "global" as *;

.tab {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16) rem(21);
  @include mq("md") {
    gap: rem(32);
  }
}

.tab__list {
  text-align: center;
  max-width: rem(162);
  width: 100%;
  background-color: $white;
}

.tab__list.is-active {
  background-color: $green-accent;
  color: $white;
}

.tab__list.is-active a {
  color: $white;
}

.tab__list a {
  text-transform: uppercase;
  font-size: rem(14);
  line-height: 1.57143;
  color: $green-accent;
  display: block;
  padding-top: rem(5);
  padding-left: rem(20);
  padding-bottom: rem(5);
  padding-right: rem(20);
  border: 1px solid $green-accent;
  transition: all 0.3s;
}

.tab__list a:hover {
  background-color: $green-accent;
  color: $white;
}