@use "global" as *;

.card {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  display: none; /* 最初は非表示 */
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

/* 最初のカードだけ表示 */
.card.active {
  display: block;
}

/* リンクのスタイル */
.change-card {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

