@use "global" as *;

.voice-card {
  display: inline-block;
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  padding-top: rem(24);
  padding-right: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
}

.voice-card:hover {
  opacity: .7;
}

.voice-card__head {
  display: flex;
  gap: rem(13);
}

.voice-card__info {
  margin-top: rem(-9);
}

.voice-card__gender {
  font-size: rem(12);
  line-height: rem(18);
}

.voice-card__category {
  color: $green-accent;
  font-size: rem(12);
  line-height: rem(22);
  border: rem(1) solid $green-accent;
  display: inline-block;
  padding-top: rem(4);
  padding-right: rem(12);
  padding-bottom: rem(4);
  padding-left: rem(4);
}

.voice-card__title {
  margin-top: rem(4);
  padding-bottom: rem(4);
  font-size: rem(16);
  font-weight: 500;
  border-bottom: rem(1) solid $green-accent;
}

.voice-card__img {
  aspect-ratio: 151 / 117;
}

.voice-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-card__text {
  margin-top: rem(15);
  line-height: rem(24);
}